@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  @apply bg-ashy;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-style: normal;
}
